* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.text {
    width: 60%;
    max-width: 700px;
    padding: 20px;
    margin: 25px auto;
}

#stundenplan {
    max-width: 800px;
}

#projekte {
    max-width: 800px;
}

.nav {
    background-color: #222;
    display: flex;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: #fff;
    padding: 14px 16px;
    font-size: 24px;
}

.nav a:hover {
    background-color: #ccc;
    color: #000;
}

.nav a.active {
    background-color: red;
    color: #fff;
}

h1 {
    margin-top: 80px;
    font-size: 40px;
    text-align: center;
}

h2{
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
}

p {
    margin: 20px;
    font-size: 20px;
}

img {
    display: block;
    margin: 30px auto;
    height: 50%;
    width: 50%;
}

ol, ul {
    margin: 20px;
    font-size: 20px;
    list-style-position: inside;
}

#timetable {
    font-size: 20px;
    border: 3px solid black;
    background-color: rgb(110, 87, 137);
    color: rgb(230, 230, 230);
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
}

#timetable th, #timetable td {
    border: 2px solid #f2f2f2;
    padding: 10px;
    text-align: center;
}

#timetable th {
    background-color: #6d4e9f;
    color: white;
    font-weight: bold;
}

.contact-container {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 80px;
}

#projekte a {
    margin: 20px;
    font-size: 20px;
}

.anmeldung {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.google-btn {
    background: #db4437;
    color: white;
}

.logout-btn {
    background: #555;
    color: white;
}
